<h1>New game</h1>
<div class="tab">
  <h2><% @letters.each do |letter| %>
    <div class="letter"><%= "#{letter}" %></div>
  <% end %>
</div>
</h2>
<h3>What is the longest word you can find?</h3>
<form action="score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :answer2, @letters %>
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form>
